.loader-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: 9999;
  background: rgb(10 10 10 / 0.5);
  left: 0;
}
.loading {
  position: fixed;
  top: 50%;
  left: calc(50% - 0px);
  margin-top: -140px;
  margin-left: -80px;
  width: 150px;
  height: 150px;
  background-image: url('../src/assets/loader1.gif');
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 999;
  background-size: 100px auto;
}